.container{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 800px;
}
.createToDo{
    padding: 24px;
    display: flex;
    justify-content: center;
    width: 488px;
    background-color: rgba(238, 197, 197, 0.3);
    height: 800px;
    border-radius: 16px;
    align-items: flex-start;
}

.toDoList{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 488px;
    background-color: rgba(238, 197, 197, 0.3);
    height: 800px;
    border-radius: 16px;
    align-items: flex-start;
}