.ToDocounter span {
    font-weight: bolder;
    padding-right: 5px;
    padding-left: 5px;
}

.ToDocounter{
    background-color: #f7a398;
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 440px;
    height: 32px;
    border-radius: 20px;
    padding: 24px;
    font-weight: 450;
}